@import "../../scss/variables";


.navbar {
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 0;
  img{
    width: 100px;
    height: 100px;
  }
  .links {
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-end;
    gap: 2%;

    a {
      color: brown;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.5rem;
      &:hover{
        background-color: cadetblue;
        color: rgb(218, 223, 232);
        border-radius: 10px;
      }
    }
  }
}

